body {
    background-color: #ffffff;
    color: #c5c6c7;
}

.site-title {
    color: #5e5e5f;
}

.card {
    background-color: #07173f;
    color: #ffffff;
}
.form-label {
    color: #ffffff; /* texto acima do input fica branco */
}

.form-control::placeholder {
    color: #5e5e5f; /* placeholder dentro do input continua cinza */
}

.btn-primary {
    background-color: #0960e1;
    border-color: #0960e1;
}
.btn-primary:hover {
    background-color: #2e96f5;
    border-color: #2e96f5;
}
.alert {
    font-weight: bold;
}